html, body {
  @apply h-full;
}

.block {
  @apply flex justify-center items-center h-full bg-red-500;
  &__element {
    @apply bg-green-500 text-white my-4 p-4;
    &--modifier {
      @apply bg-blue-500;
    }
  }
}
